//primary-color1 = #273e82


label-color1 = #7d8594

text-light = #fff

bg-aside = #eef0f4
bg-fieldset = #f1f3f6
bg-light = #fff

disabled-c = #9daec2

border-color = #cccccc

label-fz = 12px




durGlob = 0.3s
durFixHeader = 0.25s

//mq
mob = 320px
tablet = 768px
desktop = 992px


