block modal-variables
	-var idModal, classModal, titleModal, modalFooter = false, containerOff = false

.modal.fade(tabindex="-1" role="dialog" id="#{idModal || ''}" class="#{classModal || ''}")
	.modal-dialog
		.modal-content
				block modal-content
					if !containerOff
						.container
							.row
								.modal-content-inner
									.modal-header
										block modal-header
											button.close(type="button" data-dismiss="modal")
											h4.modal-title= titleModal || ''
									.modal-body
										block modal-body
									if modalFooter
										.modal-footer
											block modal-footer
												button.btn(type="button" data-dismiss="modal") Close
					else
						.modal-content-inner
							.modal-header
								block modal-header
									button.close(type="button" data-dismiss="modal")
									h4.modal-title= titleModal || ''
							.modal-body
								block modal-body
							if modalFooter
								.modal-footer
									block modal-footer
										button.btn(type="button" data-dismiss="modal") Close