.col-section
	position relative
	max-width 835px
	margin 0 auto
	.section-shadow
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		&:before
			max-width none
			box-shadow 0 0 20px rgba($gray-base, 0.5)
	.article
		position relative
		padding-left 35px
		padding-right 10px
		+mq(desktop)
			&:before
				content ''
				background-color rgba($gray-base, 0.05)
				position absolute
				top 0
				bottom 0
				left 0
				right -25px
				opacity 0
				transition opacity durGlob
				z-index -1
			&:hover
				&:before
					opacity 1
			&__title
			&__title-sub
				width 75%
			&__top
				min-height 170px
			&__info
				min-height 115px
		+mq(tablet, desktop)
			&__title
			&__title-sub
				width 60%
			&__top
				min-height ceil(170px * 0.75)
			&__info
				min-height 115px
		+mq(mob, desktop)
			padding-left 10px


.article
	padding-top 70px
	padding-bottom 85px
	
	&__top
		margin-bottom 15px
	&__title
		margin-bottom 0.55em
		line-height 1
		font-weight normal
		font-size $font-size-h1
	&__title-sub
		font-size $font-size-h3
	&__info
		padding-top 10px
		padding-bottom 10px
		margin-bottom 20px
		border-top 1px solid #7b7b7b
		border-bottom 1px solid #7b7b7b
		color #7b7b7b
	a
		font-size $font-size-large
	+mq(tablet, desktop)
		&__title
			font-size ceil($font-size-h1 * 0.75)
		&__title-sub
			font-size ceil($font-size-h3 * 0.75)
		a
			font-size ceil($font-size-large * 0.75)
+mq(mob, tablet)
	[class^="col-"]
	[class*="col-"]
		&:not(:last-child)
			.article
				&:after
					content ''
					position absolute
					top 100%
					left -10px
					right -10px
					border-bottom 1px dashed rgba(#7b7b7b, 0.3)
	.article
		padding-top 20px
		padding-bottom 20px

		&__title
			font-size ceil($font-size-h1 * 0.65)
		&__title-sub
			font-size ceil($font-size-h3 * 0.65)
		a
			font-size ceil($font-size-large * 0.75)