.col-section
	.section-shadow
	.row
		.col-sm-4
			.article
				.article__top
					.article__title AAID Launch
					.article__title-sub Proud of our Artillery heritage
				.article__info Following the successful acquisition, Artillery Architecture & Interior Design UAE will become AAID Allen Architecture Interiors Design.  Stuart Allen is...
				a(href="") Read more
		.col-sm-4
			.article
				.article__top
					.article__title Project News
					.article__title-sub The successful launch of Lloyd’s in DIFC
				.article__info Following the successful launch of Lloyd’s in DIFC, we are pleased to share the news article published by Commercial Interior Design....
				a(href="") Read more
		.col-sm-4
			.article
				.article__top
					.article__title CID Awards
					.article__title-sub The Commercial Interior Design Awards 2015
				.article__info We look forward to The Commercial Interior Design Awards this upcoming September....
				a(href="") Read more