.info-main
	max-width 780px
	margin 0 auto
	text-align center
	&__title
		margin-bottom 1.25em
		line-height normal
		font-size $font-size-h1
	&__title-sub
		max-width 620px
		margin 0 auto
		margin-bottom 2em
		padding-top 1.5em
		border-top 1px solid rgba($gray-base, 0.2)
		line-height normal
		font-size $font-size-h4+2
		color rgba($gray-base, 0.4)
	a
		font-size $font-size-large
	+mq(tablet, desktop)
		&__title
			font-size ceil($font-size-h1 * 0.75)
		&__title-sub
			font-size ceil(($font-size-h4+2) * 0.75)
	+mq(mob, tablet)
		&__title
			font-size ceil($font-size-h1 * 0.6)
		&__title-sub
			font-size ceil(($font-size-h4+2) * 0.6)
		a
			font-size ceil($font-size-large * 0.8)