.info-main
	.info-main__title Creating sophisticated architecture, interiors and design that provide clients with thoughtful, bespoke solutions delivered with confidence and integrity.
	.info-main__title-sub AAID is an established international design entity, creating architecture, interiors and design that provide clients with thoughtful, tailored solutions delivered with confidence and integrity. Our international body of work includes...
	a(href="") Read more