header.main-header
	.container
		.row
			a.mob-nav-button.glyphicon.glyphicon-menu-hamburger.visible-xs(href="" data-toggle="modal" data-target="##{mobModal}")
			.col-sm-5
				a.logo(href="")
					img.logo__img(src="images/logo-main.png", alt="")
					span.logo__sub
						span Allen  
						|Architecture  Interiors  Design
			.col-sm-7
				.nav-main-wrap(id="#{mobModal}" role="navigation" aria-labelledby="nav-main" aria-hidden="false" data-keyboard="true" tabindex="-1" data-backdrop="true")
					ul.nav.nav-main
						li: a(href="") Portfolio
						li: a(href="") About us
						li: a(href="") People
						li: a(href="") Contact
