anim-hide()
	max-height 0
	margin 0
	opacity 0

.main-header
	background-color $body-bg
	position relative
	padding-top 30px
	padding-bottom 20px
	font-size 0

	+mq(tablet)
		[class^="col-"]
		[class*="col-"]
			display inline-block
			float none
			vertical-align bottom
	+mq(mob, tablet)
		padding-top 10px
		padding-bottom 10px
	a
		font-weight 300


.logo
	display inline-block
	&__img
		display inline-block
	&__sub
		display block
		margin-top 10px
		font-size $font-size-large
		color $gray-base
		span
			color $gray
	+mq(mob, tablet)
		&__img
			max-width 100px
		&__sub
			font-size ceil(($font-size-base+2) * 0.7)
	+mq(tablet, desktop)
		&__img
			max-width 130px
		&__sub
			font-size $font-size-base+2

.nav-main
	text-align right
	> li
		display inline-block
		margin-left 30px
		&:first-child
			margin-left 0
		> a
			padding 0
			text-transform uppercase
			font-weight 300
			font-size $font-size-large
			color rgba($gray, 0.7)
			&:hover
				color $gray-base
	&-wrap
		display block !important

	+mq(mob, desktop)
		> li
			> a
				font-size $font-size-base+2
	+mq(mob, tablet)
		background-color $body-bg
		position absolute
		top 0
		bottom 0
		right 0
		text-align left
		transform translateX(100%)
		opacity 0
		transition opacity durGlob, transform durGlob
		> li
			display block
			margin-left 0
			border-bottom 1px solid rgba($gray, 0.1)
			> a
				padding 15px 25px
				opacity 0
				transform translateX(50px)
				transition transform durGlob, opacity durGlob
		
		&-wrap
			background-color rgba($gray-base, 0.6)
			position fixed
			top 0
			bottom 0
			left 0
			right 0
			z-index 15
			opacity 0
			visibility hidden
			transition opacity durGlob, visibility 0s durGlob
			&.in
				opacity 1
				visibility visible
				transition opacity durGlob
				.nav-main
					opacity 1
					transform translateX(0)
					> li
						for i in (1..10)
							&:nth-child({i})
								> a
									transition-delay (durGlob*0.25)*i
						> a
							opacity 1
							transform translateX(0)
							transition transform durGlob durGlob*0.5, opacity durGlob durGlob*0.5

.mob-nav-button
	position absolute
	right 10px
	padding 10px
	@extend .v-mid
	font-size $font-size-h3+2
	z-index 5
