.main-footer
	background-color $gray-base
	position absolute
	bottom 0
	left 0
	right 0
	padding-top 100px
	padding-bottom 320px
	color rgba(text-light, 0.5)
	&__top
		margin-bottom 10px
		font-size 0
		+mq(tablet)
			[class^="col-"]
			[class*="col-"]
				display inline-block
				vertical-align bottom
				float none
	&__bottom
		padding-top 10px
		border-top 1px solid rgba(text-light, 0.2)
	+mq(tablet, desktop)
		padding-top 40px
		padding-bottom 140px
	+mq(mob, tablet)
		padding-top 20px
		padding-bottom 20px

.nav-footer
	> li
		display inline-block
		margin-right 12px
		> a
			padding 0
			padding-right 12px
			text-transform uppercase
			font-weight 300
			font-size $font-size-base
			color rgba(text-light, 0.5)
			&:hover
				color text-light
		+mq(tablet, desktop)
			margin-right 8px
			> a
				padding-right 8px
				font-size $font-size-h6
		+mq(mob, tablet)
			display table-cell
			width 1%
			margin-right 0
			white-space nowrap
			
			> a
				padding-right 5px
				font-size $font-size-small

.social
	&__item
		display inline-block
		width 21px
		height 20px
		margin-right 9px
		&.fb
			sprite(ico-fb)
		&.tw
			sprite(ico-tw)
		&.gg
			sprite(ico-gg)
		&.inst
			sprite(ico-inst)
		
.copyright
	text-align right
	font-size 11px
	+mq(mob, tablet)
		margin-top 10px
		text-align left
