footer.main-footer
	.container
		.main-footer__top
			.row
				.col-sm-6
					ul.nav.nav-with-separate.nav-footer
						li: a(href="") Portfolio
						li: a(href="") About us
						li: a(href="") People
						li: a(href="") Contact
				.col-sm-6.text-right.hidden-xs
					a(href="")
						img(src="images/logo-footer.png", alt="")
		.main-footer__bottom
			.row
				.col-sm-6
					.social
						a.social__item.fb(href="")
						a.social__item.tw(href="")
						a.social__item.gg(href="")
						a.social__item.inst(href="")
				.col-sm-6
					.copyright ©  AAID 2015. All rights reserved.