extends layout/default

prepend css
	link(rel="stylesheet", href="scripts/libs/swiper/css/swiper.min.css")

block content
	// Slider
	.main-content__section
		include blocks/slider/template
		.container
			include blocks/main-page/info-main/template
	//END-Slider

	// Section Gray
	.main-content__section.main-content__section_gray
		.container
			include blocks/main-page/col-section/template
	//END-Section Gray

block addition-content

append scripts
	script.
		$(function() {
			var mainSlider = new Swiper('.slider-main', {
				grabCursor: true,
				pagination: '.swiper-pagination',
				paginationClickable: true,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
			});
		})