.slider
	&-main
		position relative
		+mq(desktop)
			&:hover
				.swiper
					&-slide
						filter grayscale(0)
						.slider-main
							&__desc
								transform translateY(0)
								a
									opacity 1
									transform translateY(0)
									transition transform durGlob durGlob * 0.5, opacity durGlob durGlob * 0.5
							&__title
								opacity 1
								transform translateY(0)
								transition transform durGlob durGlob * 0.5, opacity durGlob durGlob * 0.5
			&__desc
				transform translateY(100%)
				a
					transform translateY(15px)
					opacity 0
			&__title
				transform translateY(15px)
				opacity 0
			.swiper-slide
				filter grayscale(100%)

		&__desc
			background-color rgba($gray-base, 0.6)
			position absolute
			left 0
			right 0
			bottom 0
			padding-top 30px
			padding-bottom 35px
			text-align center
			color text-light
			transition transform durGlob
			a
				font-size $font-size-base+2
				color text-light
				transition transform durGlob, opacity durGlob
		&__title
			margin-bottom 0.4em
			font-weight 100
			font-size $font-size-h2
			transition transform durGlob, opacity durGlob
		+mq(tablet, desktop)
			&__desc
				padding-top 23px
				padding-bottom 26px
				a
					font-size ceil(($font-size-base+2) * 0.75)
			&__title
				font-size ceil($font-size-h2 * 0.75)
		+mq(mob, tablet)
			&__desc
				padding-top 10px
				padding-bottom 15px
				a
					font-size ceil(($font-size-base+2) * 0.6)
			&__title
				font-size ceil($font-size-h2 * 0.5)

		.swiper
			&-slide
				position relative
				background-repeat no-repeat
				background-position top center
				background-size cover
				height 660px
				transition filter durGlob
			&-button
				&-prev
				&-next
					width 30px
					height 55px
				&-prev
					left 50px
				&-next
					right 50px
			+mq(tablet, desktop)
				&-slide
					height 440px
				&-button
					&-prev
						left 25px
					&-next
						right 25px
			+mq(mob, tablet)
				&-slide
					height 280px
				&-button
					&-prev
					&-next
						width 21px
						height 39px
						background-size 21px 39px
					&-prev
						left 15px
					&-next
						right 15px

		&-block
			position relative
			padding-bottom 60px
			margin-bottom 30px
				
			.swiper-pagination
				bottom 20px
				left 0
				right 0
				&-bullet
					background-color rgba($gray-base, 0.22)
					width 14px
					height 14px
					margin 0 5px
					&-active
						background-color rgba($gray-base, 0.6)
			+mq(mob, tablet)
				padding-bottom 40px
				margin-bottom 20px
				.swiper-pagination
					bottom 10px