.slider-main-block.section-shadow
	.slider-main.swiper-container
		.swiper-wrapper
			-for (var i = 0; i < 6; i++)
				.swiper-slide(style="background-image: url(images/slider-blank.jpg)")
					.slider-main__desc
						.slider-main__title Project Name, Country and Year comes here
						a(href="") See full project
		.swiper-button-prev.swiper-button-white
		.swiper-button-next.swiper-button-white
	.swiper-pagination