$inputTemplate
	position relative
	width 100%
	padding 6px 20px
	vertical-align middle
	line-height normal
	text-transform uppercase
	//font-size 
	color $text-color
	transition background durGlob, color durGlob
